@import "./_mixins.scss";
@import "./styles.scss";

.admin-holder{
    max-width: $container-width;
    background-color: $white;
    flex:1;
    justify-content: center;
    padding: 25px;
}


.input-field{
	border-bottom-width: 2px;
    border-bottom-color:  $body-color;
    font-weight: 300;
	font-size:1rem ;
	color: $field-input;
    border-radius: 0 ;
    padding: .8rem 0.5rem .9rem 2.3rem;
    line-height: 1.4rem; 
    height: auto;
}


.fab {
    background-color: $primary-color;
    width:75px;
    height:75px;
    position: absolute;
    bottom:25px;
    right:25px;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}